<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>
<head>
<span>
{% for max_date in max_date %}
<h1>Songs Played as of {{max_date['max_date']}}</h1>
{% endfor %}
<a href="{{url_for('index')}}">Back</a>
</head>
<!--<button class="open-button" onclick="openForm()">Add Song</button>-->
<div class="form">
<span>
<form method="POST">
<input type="text" name="song" id="song" placeholder="Search for a song...">
<input class="btn" type="submit" name="submit_button" value="Search Song">
<input type="text" name="band" id="band" placeholder="Search for a band...">
<input class="btn" type="submit" name="submit_button" value="Search Band">
<input class="btn" type="submit" name="submit_button" value="Reset">
</form>
</span>
</div>
<div class="form-popup" id="myForm">

<form method="POST" class="form-container">
<input type="text" name="songAdd" id="songAdd" placeholder="Add Song...">
<input type="text" name="bandAdd" id="bandAdd" placeholder="Add Band...">
<input type="text" name="rankAdd" id="rankAdd" placeholder="Add Rank...">
<input type="submit" name="submit_button" value="Add" class="btn">
<button type="button" class="btn cancel" onclick="closeForm()">Close</button>

</form>

</div>


<div class="row">
<div class="column">
{% for distinct_date in distinct_dates %}
<h1>{{ distinct_date['distinct_date'] }} </h1>
<table>
{% for song in data_2022 %}
{% if song['DatePart'] == distinct_date['distinct_date'] %}
  <tr>
    <td width="30%"> {{ song['Song'] }} </td>
    <td width="30%"> {{ song['Band'] }} </td>
    <td width="10%"><a href="{{url_for('like',DateTime=song['DateTime'])}}">	&#128077; </a></td>
    <td width="10%"> {{ song['LIKE'] }}</td>
    <td width="10%"><a href="{{url_for('dislike',DateTime=song['DateTime'])}}"> 	&#128078; </td>
    <td width="10%"> {{ song['song_time'] }} </td>
  </tr>
{% endif %}
{% endfor %}
</table>
{% endfor %}
</div>
</div>
<script>
  function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
document.addEventListener("DOMContentLoaded", function(event) {
     var scrollpos = localStorage.getItem('scrollpos');
     if (scrollpos) window.scrollTo(0, scrollpos);
 });

 window.onbeforeunload = function(e) {
     localStorage.setItem('scrollpos', window.scrollY);
 };
</script>
</html>
