<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>

<head>
<h1>July 420</h1>
<nav>
  <ul>
    <li> <a href="{{ url_for('twentytwentytwo') }}">Recently Played</a></li>
    <li> <a href="{{ url_for('plot') }}">Plot</a></li>
  </ul>
</nav>
</head>
<div class="form">
<span>
<form method="POST">
<input type="text" name="song" id="song" placeholder="Search for a song...">
<input class="btn" type="submit" name="submit_button" value="Search Song">
<input type="text" name="band" id="band" placeholder="Search for a band...">
<input class="btn" type="submit" name="submit_button" value="Search Band">
<input class="btn" type="submit" name="submit_button" value="Reset">
</form>
</span>
</div>
<body>
<div class ="row">
  <div class="column">
  <h2>2020</h2>
  <table>
  {% for song in data_2020 %}
    <tr>
      <td> {{ song['Rank'] }} </td>
      <td> {{ song['song'] }} </td>
      <td> {{ song['band'] }} </td>
    </tr>
  {% endfor %}
  </table>
  </div>
  <div class="column">
  <h2>2021</h2>
  <table>
  {% for song in data_2021 %}
  <tr>
    <td> {{ song['Rank'] }} </td>
    <td> {{ song['song'] }} </td>
    <td> {{ song['band'] }} </td>
  </tr>
  {% endfor %}

  </table>
  </div>
  {% if data_2022 %}
  <div class="column">
  <h2>2022</h2>

  <table>
  {% for song in data_2022 %}
  <tr>
    <td> {{ song['Rank'] }} </td>
    <td> {{ song['song'] }} </td>
    <td> {{ song['band'] }} </td>
  </tr>
  {% endfor %}
  </table>
  </div>
  {% endif %}
</div>

</body>
</html>
