<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>
<head>

<h1>Song Discussion</h1>

<nav>
  <ul>
    <li> <a href="{{ url_for('twentytwentytwo') }}">Recently Played</a></li>
    <li> <a href="{{ url_for('index') }}">July420 Comparison</a></li>
    <li> <a href="{{ url_for('plot') }}">Plots</a></li>
  </ul>
</nav>
</head>

<h3> {{song['Song']}} by {{song['Band']}} - Total Likes: {{song['Like']}}</h3>
<div class="form">
<span>
<form method="POST">
<input type="text" name="comment" id="comment" size="50" placeholder="Comment on the song...">
<input type="text" name="author" id="author" placeholder="Who are you?...">

<input class="btn" type="submit" name="submit_button" value="Add Comment">
<input type="hidden" id="trackid" name="trackid" value="{{ song['trackid'] }}"]>
<input type="hidden" id="song" name="song" value="{{ song['Song'] }}">
<input type="hidden" id="band" name="band" value="{{ song['Band'] }}">

</form>


</span>

</div>


<table>
{% for comment in comments %}
<tr>
<td width ="70%"> {{comment['comment'] }} </td>
<td width ="30%"> {{comment['author']}} {{comment['datetime_fixed']}}</td>
</tr>
{% endfor %}
</table>
